version: "3"
services:
  vpn:
    name: openvpn_gssi
    build: .
    cap_add: 
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - 10194:1194/udp
    volumes:
      - openvpn_data:/etc/openvpn

volumes:
  openvpn_data: